In [1]:
import quandl
import os
import pandas as pd
API_KEY = os.environ.get('QUANDL_API_KEY')

In [2]:
df = quandl.get("FMAC/HPI_AL", authtoken= API_KEY)
print(df.head())
fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
states_df = fiddy_states[0]
states_df = states_df['Flag, name and postal abbreviation [1]'].rename(columns={'Flag, name and postal abbreviation [1]':'States', 'Flag, name and postal abbreviation [1].1':'Code'})
states_df.head()

            NSA Value   SA Value
Date
1975-01-31  35.105461  35.167764
1975-02-28  35.465209  35.529189
1975-03-31  35.843110  35.854669
1975-04-30  36.251850  36.204131
1975-05-31  36.595350  36.487839

       States Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [4]:
df1 = pd.DataFrame({'HPI': [80,85,88,85], 'Int_rate': [1,2,3,4] ,'US_GDP_Thousands': [50,55,65,55]}, index = [2001,2002,2003,2004])
df2 = pd.DataFrame({'HPI': [80,85,88,85], 'Int_rate': [6,7,8,9], 'US_GDP_Thousands': [322,32,3,4]}, index = [2005,2006,2007,2008])
df3 = pd.DataFrame({'HPI': [80,85,88,85], 'Int_rate': [10,11,12,13], 'Low_tier_HPI': [50,55,65,55]}, index = [2001,2002,2003,2004])

In [5]:
# concat multiple dataframes
df4 = pd.concat([df1, df2,df3],ignore_index=True)
s = pd.Series([8000,2,50], index = ['HPI', 'Int_rate', 'US_GDP_Thousands'])

#append series to dataframe
df4 = pd.concat([df4,s.to_frame().T], ignore_index=True)
df4

     HPI  Int_rate  US_GDP_Thousands  Low_tier_HPI
0     80         1              50.0           NaN
1     85         2              55.0           NaN
2     88         3              65.0           NaN
3     85         4              55.0           NaN
4     80         6             322.0           NaN
5     85         7              32.0           NaN
6     88         8               3.0           NaN
7     85         9               4.0           NaN
8     80        10               NaN          50.0
9     85        11               NaN          55.0
10    88        12               NaN          65.0
11    85        13               NaN          55.0
12  8000         2              50.0           NaN

In [6]:
#merge dataframes
print(pd.merge(df1,df2, on = 'HPI'))

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           1                  50           6                 322
1   85           2                  55           7                  32
2   85           2                  55           9                   4
3   85           4                  55           7                  32
4   85           4                  55           9                   4
5   88           3                  65           8                   3

In [8]:
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

KeyError: "None of ['HPI'] are in the columns"

     Int_rate  Low_tier_HPI
HPI
80         10            50
85         11            55
88         12            65
85         13            55